html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
	margin-top: 5px;
	height: 600px;
	width: 100%;
}

/*.navbar-burger.burger {
 	font-family: 'Raleway', sans-serif;
}*/

.columns {
  margin: 0;
}

.column {
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;
}

li {
 	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #393f60;
	border: 1px solid #393f60;
}

.navbar-menu.is-active {
	background-color: #393f60;
}

.navbar-item {
  padding: 0;
}

div.navbar-item img {
  padding-left: 10px;
}

div.navbar-item .icon {
  margin-left: 10px;
}

div.navbar-dropdown .navbar-item {
  padding: 5px 20px 5px 0;
  text-align: right;
  font-weight: 700;
}

.tabs li {
  background-color: #eeeeee;
  border: 1px solid #dbdbdb;
}

.tabs.is-boxed.is-fullwidth {
	margin: 0;
}

.input {
  margin-bottom: 10px;
}

h5 {
	color: #ffffff;
 	font-family: 'Raleway', sans-serif;
 	font-weight: 700;
}

nav.level.is-mobile i {
	color: #393f60;
}

nav.level.is-mobile {
  margin-top: 5px;
  margin-bottom: 0;
}

a.button {
  font-family: 'Raleway', sans-serif;
  /*margin-top: 10px;*/
  padding: 10px 50px;
  background-color: #393f60;
  color: #ffffff;
  font-weight: 700;
}

button.button {
  font-family: 'Raleway', sans-serif;
  /*margin-top: 10px;*/
  padding: 5px 50px;
  background-color: #393f60;
  color: #ffffff;
  font-weight: 700;
}

input.input {
  max-width: 400px;
}

div h1 {
  color: #393f60;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
}

div h2 {
  margin-top: 10px;
	color: #393f60;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}

nav.navbar.is-info {
  background-color: #393f60;
}

label.label {
  color: #393f60;
  font-family: 'Raleway', sans-serif;
}

div ul li.list-group-item.tile {
  padding: 0 10px 0 20px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 1px 1px;
}
