html {
  background-color: #393f60;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
  background-color: #393f60;
  color: #f9fafb;
  width: 100%;
  height: 100%;
}

div img.start-logo {
  margin: 50px;
  height: 120px;
  width: auto;
}

.intro {
  margin: 20px;
  padding: 20px;
}

p strong {
  color: #f9fafb;
}
